body {
	background: #c4e0ed;
	font-size: 1.5em;
}

#header {
	margin-top: 20px;
}

#header img {
	float: left;
}

#auth {
	float: right;
	font-size: 0.75em;
	color: #555;
}

#auth img {
	width: 25px;
	margin-right: 10px;
}

#auth a, #auth a:visited {
	color: #aaa;
}

#content {
	margin-top: 30px;
}

.clear {
	clear: both;
}

.tweet {
	background: white;
	margin-top: 10px;
}

.tweet_content {
	margin-left: 50px;
	padding-left: 10px;
}

.tweet_photo {
	float: left;
	width: 50px;
	padding: 5px;
}

.tweet_photo img {
	width: 50px;
}

.tweet_author {
	font-size: 0.7em;
}

.tweet_time {
	color: #888;
	font-size: 0.5em;
}

.tweet_body {
	font-size: 0.8em;
}